<! DOCTYPE html>
<html>
  
  <head>

    <!-- bootstrap !-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    
    <!-- custom style for website !-->
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
    
    <title>  Home  </title>

    <!-- messaging the user !-->
    {% set messages = get_flashed_messages() %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	<span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h3> {{message}} </h3>
    
    {% endfor %}

    
    <div class="container-fluid">
      <h1>MoodyTunes</h1>
    </div>

    <!-- navbar !-->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <a class="navbar-brand" href="/">Home</a>
      <a class="nav-item nav-link" href="info" >About Us</a>
    </nav>
  </head>

    
  </head>
  <body>
    <!-- main content !-->
    <br>
    <h1>APIs Used</h1><br>
    <h3>IBMWatson Tone Analyzer</h3>
    <a href = "https://www.ibm.com/watson/services/tone-analyzer/"> Link to their webpage </a><br>
    This api takes a String and returns a json consisting of the different types of moods that are expressed in your writing. <br> We analyzed diary entries to figure out what was the primary mood.
    
    <br><br>
    <h3>LastFM</h3>
    <a href = "https://www.last.fm/api"> Link to their webpage </a><br>
    This api gives you music and can also give you music similar to a song you like. <br> We used this feature with our rating feature which returns increasing similar music based on how much you liked the previous song.
    
  </body>
</html>
